<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="css/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-content>
                    <v-container grid-list-md text-xs-center>
                        <h1>{{Title}}</h1>
                        <v-layout row wrap>
                            <!-- NAMES -->
                            <v-flex xs6 v-for="player in players">
                                <v-container>
                                    <h2>{{player}}</h2>
                                </v-container>
                            </v-flex>
                            <v-flex xs6 v-for="healthBar in healthBars">
                                <v-container>
                                    <v-progress-circular :size="100" :width="15" :rotate="-90" :value="healthBar" color="primary">
                                         <h1>{{healthBar}}</h1>
                                    </v-progress-circular>
                                </v-container>
                                
                            </v-flex>
                            <v-flex xs12>
                                <v-card>
                                    <v-flex>
                                        <v-card v-if="Game == false" class="ma-2 py-2">
                                            <button @click="Game = true"  >          
                                                <h2>START NEW GAME</h2>
                                            </button>
                                        </v-card>
                                        <template v-else>
                                            <v-layout row wrap>
                                                <v-flex v-for="skill in skills">
                                                    <v-card xs3 class="ma-2 py-2" :style="{'background-color':skill.color}">
                                                        <button @click="skillEffect(skill.name)">
                                                            <h2>{{skill.name}}</h2>
                                                        </button>
                                                    </v-card>
                                                </v-flex>
                                            </v-layout>
                                        </template>
                                    </v-flex>
                                </v-card>
                            </v-flex>
                            <v-flex xs12>
                                <v-card>
                                    <template v-for="history of histories">
                                        <v-flex xs12>
                                            <h2 :class="{'player-turn':history.isPlayer,'monster-turn':!history.isPlayer}">
                                                    {{history.text}}
                                            </h2>
                                        </v-flex>
                                    </template>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-content>
            </v-app>
        </div>
        <script src="assets/vue.js"></script>
        <script src="assets/vuetify.js"></script>
        <script src="assets/main.js"></script>
    </body>
</html>